@import "../../styles/colors";

.search__box {
  display: flex;
  margin: 0 10px 0 auto;
  width: calc(100% - 80px);
  form {
    display: flex;
    margin: 0;
    width: 100%;
  }
  input {
    border: 0;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    padding: 5px 10px;
    height: 42px;
    width: 100%;
    transition: box-shadow 0.4s ease;
    &:focus,
    &:active {
      outline: 0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
  button {
    border: 0;
    border-radius: 0 4px 4px 0;
    height: 42px;
    padding: 0 10px;
    &:focus,
    &:active {
      outline: 0;
      border: 1px dashed $cGrey;
    }
    img {
      max-width: 100%;
    }
  }
}
