$cBlack: #333333 !default;
$cBlue: #3483fa !default;
$cBlueDark: #3867d6 !default;
$cError: #e74c3c !default;
$cErrorLight: #ff6b6b !default;
$cGrey: #999999 !default;
$cGreyE: #eeeeee !default;
$cPrimary: #ffe600 !default;
$cWhite: #ffffff !default;
