$font-path: "../assets/fonts";
$font-name: "ProximaNova-Regular";

$src: url("#{$font-path}/#{$font-name}.woff") format("woff"),
  url("#{$font-path}/#{$font-name}.woff2") format("woff2");

@font-face {
  font-family: $font-name;
  src: $src;
  font-weight: normal;
  font-style: normal;
}
