@import "../../styles/colors";

.box {
  background: $cWhite;
  margin: 0 auto 20px auto;
  padding: 16px;
  width: calc(100% - 40px);
  @media only screen and (min-width: 1080px) {
    width: 1020px;
  }
}
